<h1> Blog Index </h1>
<ul>
	{% for name in file_names %}
		<li><a href="" hx-get="/article/{{ name }}" hx-target="#content" hx-swap="innerHTML">{{ name | replace(from=".html", to="") }}</li>
	{% endfor %}
</ul>
