<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta http-equiv='X-UA-Compatible' content='ie=edge'>
		<title>mskor</title>
		<meta name="description" content="mskor blog/portfolio">
		<meta name="author" content="mskor">
		<link href="output.css" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-slate-800">
		<h1 class="text-slate-900 dark:text-white mt-5 font-medium">Michal Skorczak</h1>
	</body>
</html>
