<!DOCTYPE html>
<html>
	<head>
		<meta charsetr="utf-8" />
		<title>Blog 404 </title>
	</head>
	<body>
		<h1>404: There's nothing here.</h1>
		<p>The page at {{ uri }} does not exist!
	</body>
</html>
